.videoSideBar{
    position: absolute;
    top: 50%;
    right: 5px;
    color: aliceblue;
}

.videoSideBar_options{
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 440px){
    .videoSideBar{
      top: 46%;
    }
  }